.Toolbar {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  overflow: hidden;
  position: relative;
}

.Toolbar.sm {
  background-color: pink;
}

.Toolbar.md {
  background-color: yellow;
}

.Toolbar .Toolbar-inner {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}

.Toolbar .Toolbar-overflow {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 6px 0px 6px 0;
  align-self: flex-end;
  border: none;
  border-radius: 0;
  background-color: inherit;
  padding: 0;
}

.Toolbar .Toolbar-overflow:hover {
  background-color: lightgrey;
}

/* .Toolbar .Tool {
  border: solid 1px lightgrey;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 6px 3px;
} */

.Toolbar-inner .Icon {
  border: solid 1px lightgrey;
  box-sizing: border-box;
  height: 22px;
  padding: 1px;
  width: 22px;
}

.Toolbar-inner > .Icon {
  margin: 5px 3px;
}

.Toolbar > * {
  display: inline-block;
}

.Toolbar .ToolTray .Icon {
  margin: 5px 0;
  padding: 1px 3px;
  width: 26px;
}
.Toolbar .ToolTray .Icon:not(:first-child) {
  border-left: none;
}

.Toolbar .ToolTray.right {
  margin-left: auto;
}

.OverflowContainer {
  background-color: white;
}

.Popup .Toolbar {
  min-width: 80px;
  height: auto;
}

.Popup .Toolbar .ToolTray {
  white-space: nowrap;
}

.Toolbar .tool-text {
  width: 80px;
  border-radius: 0;
  border: solid 1px darkgrey;
  border: none;
}
