.Tab {
  display: inline-block;
  background-color: white;
  color: grey;
  border: none;
  position: relative;
  border-radius: 0;
  border: none;
  padding: 1px 9px;
  display: flex;
  align-items: center;
}

.Tab.selected {
  color: black;
  font-weight: bold;
}

.Tab:focus {
  outline: none;
}

.Tab:focus-visible {
  outline: none;
}

.Tab:focus-visible:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: dotted cornflowerblue 2px;
}
.Tab .Tab-close {
  position: relative;
  left: 3px;
  width: 18px;
  height: 18px;
}

.Tab .Tab-close:hover {
  background-color: cornflowerblue;
}

.Tab .Tab-close .Icon {
  transform: scale(0.75);
  transform-origin: center center;
}
