.Tabstrip {
  height: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-top: solid 1px #ccc;
  position: relative;
}

.Tabstrip .ActiveIndicator {
  position: absolute;
  height: 3px;
  background-color: red;
  transition: left 0.2s ease;
}
