html,
body {
  margin: 0;
}

:root {
  --background: white;
  --blue500: #2670a9;
  --grey20: #eaedef;
  --grey40: #d9dde3;
  --grey60: #c5c9d0;
  --grey70: #b4b7be;
  --grey80: #9fa3aa;
  --grey90: #84878e;
  --grey300: #4c505b;
  --grey400: #44484f;
  --grey900: #161616;

  --orange700: #d65513;
}

.root {
  font-family: OpenSans-Regular;
  text-align: center;
}
