.Tabstrip {
  height: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-top: solid 1px #ccc;
}

.Tab {
  display: inline-block;
  width: 100px;
  background-color: white;
  color: grey;
  border: none;
}

.Tab.selected {
  color: black;
  font-weight: bold;
}
